body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .services {
    padding: 40px 0;
    background-color: #1c9a52;
  }
  
  .services h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .service-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .service-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
  }
  
  .service-item h3 {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
  }
  
  .service-item p {
    line-height: 1.6;
  }
  